<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidModule1"
        tools:targetApi="31">
        <activity
            android:name=".exercise.classroom.graphiccomponent.fragment.params.SecondParamsActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.classroom.graphiccomponent.fragment.params.ParamsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".exercise.classroom.graphiccomponent.fragment.FragmentCodeActivity"
            android:exported="true"></activity>
        <activity
            android:name=".exercise.classroom.graphiccomponent.fragment.FragmentActivity"
            android:exported="true" />
        <activity
            android:name=".exercise.classroom.graphiccomponent.recyclerview.DetailListActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.classroom.graphiccomponent.recyclerview.RecyclerviewActivity"
            android:exported="true" />
        <activity
            android:name=".exercise.classroom.graphiccomponent.ComponentActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".exercise.classroom.graphiccomponent.ConstraintLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.classroom.graphiccomponent.RelativeLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".exercise.classroom.graphiccomponent.LinearLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".exercise.classroom.graphiccomponent.FrameLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".exercise.classroom.explictintent.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.classroom.explictintent.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".exercise.classroom.ImplicitIntentActivity"
            android:exported="true" />
        <activity android:name=".exercise.classroom.ExampleManualCreationActivity" />
        <activity
            android:name=".exercise.classroom.ExampleCreationActivity"
            android:exported="true" />
        <activity
            android:name=".exercise.classroom.LifeCicleActivity"
            android:exported="true" />
    </application>

</manifest>